* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #22333b;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #22333b;
  height: 5em;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 3rem 8em;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}
header input {
  height: 3em;
  padding-left: 1em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.topic {
  margin-top: 6em;
  display: flex;
  justify-content: center;
}
.movies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header a {
  color: #fff;
  text-decoration: none;
}

.movie {
  width: 20em;
  border-radius: .8em;
  margin: 2em;
  overflow: hidden;
  background-color: #c6ac8f;
  position: relative;
  -webkit-border-radius: .8em;
  -moz-border-radius: .8em;
  -ms-border-radius: .8em;
  -o-border-radius: .8em;
}
.movie:hover .movie-over {
  transform: translateY(0%);
}
.movie img {
  max-width: 100%;
}
.movie-info {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.movie-info h3 {
  margin-right: 0.1em;
  max-width: 10em;
}

.movie-over {
  background-color: #ffffffee;
  color: black;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  overflow: auto;
  max-height: 100%;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
}